body {
    margin: 0;
    background-image: url(https://wallpaperaccess.com/full/1092758.jpg);
    background-size: cover;
    background-color: rgb(59, 59, 59);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');