.img-container {
    display: flex;
    justify-content: center;
    position: relative;

}

.image {
    height: 100%;
    width: auto;
    position: relative;
    top: 10px
}

.image:hover {
    cursor: crosshair;
}