.img-container {
    display: flex;
    justify-content: center;
    position: relative;

}

.image {
    height: 100%;
    width: auto;
    position: relative;
    top: 10px
}

.image:hover {
    cursor: crosshair;
}

.character-display-board {
    position: absolute;
}

.character-container-board {
    display: flex;
    flex-flow: column;
    text-align: center;
    color:  #FBFAF5;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 0 2em;
}

.character-container-board img {
    width: 100px;
    height: 100px;
    margin: 0 0 1em 0;
    opacity: 0.30;
}

.found-character {
    display: flex;
    flex-flow: row;
    align-items: center;
}

/* .check {
    position: absolute;
    right: 0;
    color: green;
} */